@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #00629b;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #004c7a;
}

/* Base Styles for Embla Carousel */
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  height: 450px;
}
.pattern-background {
  background-color: #f8fafc;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='%23e2e8f0'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}

.embla__slide_full {
  flex: 0 0 100%;
  min-width: 0;
  height: 500px; 
}

.embla__slide_full {
  flex: 0 0 100%;
  min-width: 0;
  height: 500px;
}
.embla__slide_activity {
  /* On mobile, take up 90% of the screen width for better spacing */
  flex: 0 0 90%; 
  min-width: 0;
  padding-left: 1rem;
}
/* On tablet and up, show 2.5 slides */
@media (min-width: 768px) {
  .embla__slide_activity {
    flex: 0 0 40%;
  }
}
/* On desktop, show 3.5 slides */
@media (min-width: 1024px) {
  .embla__slide_activity {
    flex: 0 0 30%;
  }
}